#header {
	background-color: #666666;
	border-bottom-style: solid;
	border-bottom-color: #00FF80;
	border-bottom-width: thick;
	color: #FFFFFF;
	width: 100%;
	height: 60px;
	margin: 0px;
	padding: 0px;
}